.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 480px;

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @media (min-width: 1200px) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
  }
}

.converter__title {
  text-align: center;
  text-transform: capitalize;
}

.converter__exchange-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
}

.converter__exchange-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 16px;
  border: 1px solid #cdd7e7;
  border-radius: 2px;
}

.converter__exchange-description,
.converter__exchange-rate {
  font-size: 12px;
  line-height: 14px;
  color: #2d2d2d;
}

.converter__exchange-input-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.converter__input {
  padding: 5px 10px;
  width: 100%;
  border: unset;
  border-radius: 10px;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  color: #2d2d2d;
  background-color: #f3f3f6;
}

.converter__select {
  border-color: #f3f3f6;
}
