<div>
  <h2>Конвертер валют</h2>
  <div>
    <input
      type="number"
      [(ngModel)]="amount1"
      (ngModelChange)="convertCurrency(1)"
    />
    <select [(ngModel)]="currency1" (ngModelChange)="convertCurrency(1)">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div>
    <input
      type="number"
      [(ngModel)]="amount2"
      (ngModelChange)="convertCurrency(2)"
    />
    <select [(ngModel)]="currency2" (ngModelChange)="convertCurrency(2)">
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
</div>
